.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  padding: 4px;
  margin-bottom: 8px;
  /* border: 1px; */
}

button {
  color: blueviolet;
  background-color: black;
  border: none;
  padding: 4px;
  border-radius: 4px;
}

button:hover {
  color: aliceblue;
  background-color: coral;
  
}
